<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Cotización</title>
</head>
<body class="p-3 mb-2 bg-secondary text-white">
    <div class="container">
        <header style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <h1>Cotización</h1>
        </header>

        <form action="/cotizacion" method="post" class="p-3 mb-2 bg-black text-white rounded-4">
            <label for="">Valor del Automovil:</label>
            <input type="number" id="valor" name="valor" required="true" placeholder="Valor" style="text-align: center;" class="rounded-4">
            <br>
            <label for="">Porcentaje de Pago Inicial:</label>
            <br>
            <select name="pInicial" id="pInicial" class="form-select form-select-sm p-3 mb-2 bg-secondary text-white" size="4" style="text-align: center;">
                <option value="10">10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select> <br>

            <label for="">Plazos: </label>
            <br>
            <select name="plazo" id="plazo" class="form-select form-select-sm p-3 mb-2 bg-secondary text-white" size="5" style="text-align: center;">
                <option value="12"> 12 meses </option>
                <option value="24"> 24 meses </option>
                <option value="36"> 36 meses </option>
                <option value="48"> 48 meses </option>
                <option value="60"> 60 meses </option>
            </select> <br>
            <div style="display: flex; justify-content: space-around;">
                <button type="submit" class="btn btn-primary" style="width: 40%;"> Calcular</button>
                <button type="reset" id="reset" class="btn btn-primary" style="width: 40%;">Limpiar</button>
            </div>

            <%{
            let pagoInicial = 0.0;
            let totalFin = 0.0;
            let pMensual = 0.0;

            if(valor != null){
                pagoInicial = valor * (pInicial / 100);
                totalFin = valor - pagoInicial;
                pMensual = totalFin / plazo;
            }
            %>
            <div id="results" style="text-align: center;">
                <hr>
                <h3>Información de cotización</h3>
                <hr> <br>
                <p>Valor del Automovil : <%=valor%>$</p>
                <p>Porcentaje de pago Inicial : <%=pInicial%>%</p>
                <p>Plazos : <%=plazo%> meses</p>
                <p>Pago Inicial : <%=(pagoInicial).toFixed(2)%>$</p>
                <p>Total a financiar : <%=(totalFin).toFixed(2)%>$</p>
                <p>Pago Mensual : <%=(pMensual).toFixed(2)%>$</p>
            </div>
            <%}%>
                <br>
                <br>
                <hr>
        </form>
    </div>


</body>

<script src="./js/bootstrap.bundle.min.js"></script>
<script src="./js/scriptCot.js"></script>
</html>