<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<title>Practica 01 EJS</title>
	</head>
	<body class="p-3 mb-2 bg-primary-subtle text-emphasis-primary">
		<center>
			<h1><%=titulo%></h1>
			<img src="./img/Logo-Upsin.jpg" alt="" style="width: 230px; height: 250px; border-radius: 10px;">
			<h2><%=nombre%></h2>
			<h3><%=grupo%></h3>
		</center>

		<div class="container">
		<table class="table table-striped-columns table-hover table-warning">
			<thead class="table-dark">
				<th>Matricula</th>
				<th>Nombre</th>
				<th>Sexo</th>
				<th>Materias</th>
			</thead>

			<%
				for(item of listado){
				%>
				<tr>
					<td><%=item.matricula%></td>
					<td><%=item.nombre%></td>
					<td><%=item.sexo%></td>
					<td><%=item.materias%></td>
				</tr>
				<%
				}
			%>
		</table>
		</div>
	</body>
	<script src="./js/bootstrap.bundle.min.js"></script>
</html>
